{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <h2>Change Password:</h2>
    <form action="/changepassword" method="post">
        <div class="form-group">
            <input class="form-control" name="password" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="confirmation" placeholder="Confirm New Password" type="password" required>
        </div>
        <button class="btn btn-outline-dark" type="submit">Change Password</button>
    </form>
{% endblock %}
