{% extends "layout.html" %}

{% block title %}
    Error
{% endblock %}

{% block main %}
    <script>
        function goBack() {
          window.history.back();
        }
    </script>

    <h1>Error {{ top }}</h1>
    <p>{{ bottom }}</p>

    <button type="button" class="btn btn-outline-dark" onclick="goBack()">Back</button>
    <!--<img alt="{{ top }}" class="border" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://i.imgur.com/CsCgN7Ll.png" title="{{ top }}">
    -->
{% endblock %}
